html {
	font-family: helvetica,sans-serif;
	background-color: #aaa;
	margin: 0;
	padding: 0;
}
div.inputDiv {
	width: 46%;
	float: left;
	background-color: #eee;
	border: solid 1px #222;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #777;
}
div.inputDiv h1 {
	margin: 10px;
}
#sRepresentation, #cRepresentation, #dRepresentation {
	height: 200px;
	max-height: 200px;
	overflow-y: scroll;
}
div.inputDiv textarea {
	margin-top: 12px;
}
div.diff {
	width: 95%;
	float: left;
	clear: left;
	background-color: #eee;
	border: solid 1px #222;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #777;
}
textarea {
	width: 96%;
	height: 100px;
	padding: 2px 6px;
}
#s2c {
	float:right;
}
.code {
	font-family: monospace;
	font-size: 14px;
}
.big {
	font-family: helvetica, sans-serif;
	font-size: 36px;
}
div.inputDiv span.talk {
	cursor: pointer;
}
